@model IEnumerable<SistemaVenta.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Producto</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Provedor.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Producto.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Inventario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Provedor.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Producto.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Inventario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Producto }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Producto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Producto })
        </td>
    </tr>
}

</table>
